body
{
font: 20px arial, sans-serif;
}
.navbar 
{
     background-color:#58ACFA;
    
}
.quem-somos{
     background-color: antiquewhite;
}

.margin{
   padding-bottom: 50px;
   padding-top: 10px;
}

.parceiros{
     background-color: blueviolet;
}

.bg-footer{
     background-color:forestgreen

}